# Require someone from the @product team to approve all changes
* @generaltranslation/product

# Require someone from the @infra team to approve all GitHub configuration changes
/.github/ @generaltranslation/infra

# Require someone from the @admins team to approve changes to code ownership
/.github/CODEOWNERS @generaltranslation/admins
