{
  "openapi": "3.1.0",
  "info": {
    "title": "General Translation API",
    "version": "2026-03-06.v1",
    "description": "The public General Translation API. Use it to upload source content and translated files, download translations, queue and translate content, create projects, manage branches and tags, and read project and job status.\n\nMost endpoints operate on a single project. All endpoints live under `https://api.gtx.dev`.\n\nAuthenticate every request with an API key as a bearer token in the standard `Authorization: Bearer <key>` header. Project keys (`gtx-api-`, `gtx-dev-`) are bound to one project. Organization keys (`gtx-org-`) work across projects but must include the target project in the `gt-project-id` header for project-scoped routes. Organization-scoped routes, such as `POST /v2/projects`, derive the organization from the key and do not use a `gt-project-id` header.",
    "contact": {
      "name": "General Translation Support",
      "email": "support@generaltranslation.com",
      "url": "https://generaltranslation.com"
    }
  },
  "servers": [
    {
      "url": "https://api.gtx.dev",
      "description": "General Translation API"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Upload, download, publish, move, and inspect project files."
    },
    {
      "name": "Context",
      "description": "Generate translation context such as glossaries and instructions."
    },
    {
      "name": "Translation",
      "description": "Translate content, queue files for translation, and read translation job status."
    },
    {
      "name": "Project",
      "description": "Create and manage projects, assets, branches, and file version tags."
    },
    {
      "name": "CLI Wizard",
      "description": "Create and manage internal CLI wizard sessions."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "FileFormat": {
        "type": "string",
        "enum": [
          "GTJSON",
          "MDX",
          "JSON",
          "YAML",
          "MD",
          "TS",
          "JS",
          "HTML",
          "TXT",
          "PO",
          "POT",
          "TWILIO_CONTENT_JSON",
          "LOTTIE",
          "SVG",
          "XCSTRINGS",
          "DOT_STRINGS",
          "DOT_STRINGSDICT",
          "ANDROID_STRINGS"
        ]
      },
      "ModelProvider": {
        "type": "string",
        "enum": [
          "ANTHROPIC",
          "OPENAI",
          "XAI",
          "GOOGLE"
        ]
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        }
      },
      "JsonValue": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ]
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "RuntimeTranslationResponse": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "translation": {
                  "$ref": "#/components/schemas/JsonValue"
                },
                "dataFormat": {
                  "type": "string",
                  "enum": [
                    "JSX",
                    "ICU",
                    "I18NEXT",
                    "STRING"
                  ]
                },
                "locale": {
                  "type": "string"
                }
              },
              "required": [
                "success",
                "dataFormat",
                "locale"
              ]
            },
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    false
                  ]
                },
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "number"
                }
              },
              "required": [
                "success",
                "error",
                "code"
              ]
            }
          ]
        }
      },
      "RuntimeTranslationRequest": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "source": {},
                "metadata": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "context": {
                      "type": "string"
                    },
                    "maxChars": {
                      "type": "number"
                    },
                    "dataFormat": {
                      "type": "string",
                      "enum": [
                        "JSX",
                        "ICU",
                        "I18NEXT",
                        "STRING"
                      ],
                      "default": "STRING"
                    },
                    "actionType": {
                      "type": "string",
                      "enum": [
                        "fast",
                        "standard"
                      ],
                      "default": "fast"
                    },
                    "sourceCode": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string"
                            },
                            "target": {
                              "type": "string"
                            },
                            "after": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "before",
                            "target",
                            "after"
                          ]
                        }
                      }
                    }
                  },
                  "default": {
                    "dataFormat": "STRING",
                    "actionType": "fast"
                  }
                }
              }
            }
          },
          "targetLocale": {
            "type": "string",
            "minLength": 1
          },
          "sourceLocale": {
            "type": "string",
            "minLength": 1
          },
          "metadata": {
            "type": "object",
            "properties": {
              "modelProvider": {
                "$ref": "#/components/schemas/ModelProvider"
              }
            }
          }
        },
        "required": [
          "requests",
          "targetLocale",
          "sourceLocale",
          "metadata"
        ]
      },
      "CreateCliWizardSessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          }
        },
        "required": [
          "sessionId"
        ]
      },
      "CreateCliWizardSessionRequest": {
        "type": "object",
        "properties": {
          "keyType": {
            "type": "string",
            "enum": [
              "development",
              "production",
              "all"
            ],
            "default": "production"
          }
        }
      },
      "CliWizardSessionReadyResponse": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "apiKeys": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "development",
                        "production"
                      ]
                    }
                  },
                  "required": [
                    "key",
                    "type"
                  ]
                }
              },
              "projectId": {
                "type": "string"
              }
            },
            "required": [
              "apiKeys",
              "projectId"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "projectId": {
                "type": "string"
              }
            },
            "required": [
              "apiKey",
              "projectId"
            ]
          }
        ]
      },
      "CliWizardSessionWaitingResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "DeleteCliWizardSessionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v2/projects": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a Project",
        "description": "Create a Project in the Organization associated with an Organization API key. The key must have the `org:projects:create` permission. Project keys cannot use this endpoint. Enabling CDN delivery also requires `project:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "defaultLocale": {
                    "type": "string"
                  },
                  "cdnEnabled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "defaultLocale"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "orgId": {
                          "type": "string"
                        },
                        "defaultLocale": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "orgId",
                        "defaultLocale"
                      ]
                    }
                  },
                  "required": [
                    "project"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/v2/projects/{projectId}/api-keys": {
      "post": {
        "operationId": "createProjectApiKey",
        "summary": "Create a Project API Key",
        "description": "Create an API key for a Project with an Organization API key. The Organization key must have the `project:api_keys:write` permission and can only delegate Project permissions it already holds. Project keys cannot use this endpoint.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "production",
                      "development"
                    ],
                    "default": "production"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "production",
                            "development"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "key",
                        "projectId",
                        "type"
                      ]
                    }
                  },
                  "required": [
                    "apiKey"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/v2/project/files/upload-files": {
      "post": {
        "operationId": "uploadSourceFiles",
        "summary": "Upload source files",
        "description": "Upload one or more source files to the project. Max 100 files per request.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string"
                            },
                            "fileName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "fileFormat": {
                              "type": "string",
                              "enum": [
                                "GTJSON",
                                "MDX",
                                "JSON",
                                "YAML",
                                "MD",
                                "TS",
                                "JS",
                                "HTML",
                                "TXT",
                                "PO",
                                "POT",
                                "TWILIO_CONTENT_JSON",
                                "LOTTIE",
                                "SVG",
                                "XCSTRINGS",
                                "DOT_STRINGS",
                                "DOT_STRINGSDICT",
                                "ANDROID_STRINGS"
                              ]
                            },
                            "dataFormat": {
                              "type": "string"
                            },
                            "locale": {
                              "type": "string",
                              "minLength": 1
                            },
                            "fileId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "versionId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "branchId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "checkedOutBranchId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "incomingBranchId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "formatMetadata": {
                              "type": "object",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "content",
                            "fileName",
                            "fileFormat",
                            "locale"
                          ]
                        }
                      },
                      "required": [
                        "source"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "sourceLocale": {
                    "type": "string"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded source files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploadedFiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "fileFormat": {
                            "$ref": "#/components/schemas/FileFormat"
                          },
                          "dataFormat": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "fileId",
                          "versionId",
                          "fileName",
                          "fileFormat"
                        ]
                      }
                    },
                    "count": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "uploadedFiles",
                    "count",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/v2/project/files/upload-translations": {
      "post": {
        "operationId": "uploadTranslations",
        "summary": "Upload translated files",
        "description": "Upload translated files linked to their source files. Max 100 files per request.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string"
                            },
                            "fileName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "fileFormat": {
                              "type": "string",
                              "enum": [
                                "GTJSON",
                                "MDX",
                                "JSON",
                                "YAML",
                                "MD",
                                "TS",
                                "JS",
                                "HTML",
                                "TXT",
                                "PO",
                                "POT",
                                "TWILIO_CONTENT_JSON",
                                "LOTTIE",
                                "SVG",
                                "XCSTRINGS",
                                "DOT_STRINGS",
                                "DOT_STRINGSDICT",
                                "ANDROID_STRINGS"
                              ]
                            },
                            "dataFormat": {
                              "type": "string"
                            },
                            "locale": {
                              "type": "string",
                              "minLength": 1
                            },
                            "fileId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "versionId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "branchId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "checkedOutBranchId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "incomingBranchId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "formatMetadata": {
                              "type": "object",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "content",
                            "fileName",
                            "fileFormat",
                            "locale"
                          ]
                        },
                        "translations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string",
                                "minLength": 1
                              },
                              "fileFormat": {
                                "type": "string",
                                "enum": [
                                  "GTJSON",
                                  "MDX",
                                  "JSON",
                                  "YAML",
                                  "MD",
                                  "TS",
                                  "JS",
                                  "HTML",
                                  "TXT",
                                  "PO",
                                  "POT",
                                  "TWILIO_CONTENT_JSON",
                                  "LOTTIE",
                                  "SVG",
                                  "XCSTRINGS",
                                  "DOT_STRINGS",
                                  "DOT_STRINGSDICT",
                                  "ANDROID_STRINGS"
                                ]
                              },
                              "dataFormat": {
                                "type": "string"
                              },
                              "locale": {
                                "type": "string",
                                "minLength": 1
                              },
                              "transformFormat": {
                                "type": "string",
                                "enum": [
                                  "GTJSON",
                                  "MDX",
                                  "JSON",
                                  "YAML",
                                  "MD",
                                  "TS",
                                  "JS",
                                  "HTML",
                                  "TXT",
                                  "PO",
                                  "POT",
                                  "TWILIO_CONTENT_JSON",
                                  "LOTTIE",
                                  "SVG",
                                  "XCSTRINGS",
                                  "DOT_STRINGS",
                                  "DOT_STRINGSDICT",
                                  "ANDROID_STRINGS"
                                ]
                              }
                            },
                            "required": [
                              "content",
                              "fileName",
                              "fileFormat",
                              "locale"
                            ]
                          },
                          "minItems": 1
                        }
                      },
                      "required": [
                        "source",
                        "translations"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "sourceLocale": {
                    "type": "string"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded translation files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploadedFiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "fileFormat": {
                            "$ref": "#/components/schemas/FileFormat"
                          },
                          "dataFormat": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "fileId",
                          "versionId",
                          "fileName",
                          "fileFormat"
                        ]
                      }
                    },
                    "count": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "uploadedFiles",
                    "count",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/v2/project/assets": {
      "post": {
        "operationId": "uploadAssets",
        "summary": "Upload Project assets",
        "description": "Upload OpenType or TrueType fonts through a Project and make them available to Lottie translation workflows across its Organization. Each font is keyed by a normalized identity derived from its family, weight, and italic style (from the supplied `family` and `style`, or from the font metadata and file name). Re-uploading the same identity overwrites the existing asset, so complete retries after a `500` response are safe.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "assetType": {
                          "type": "string",
                          "enum": [
                            "FONT"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "minLength": 1
                        },
                        "fileName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255,
                          "pattern": "\\.([tT][tT][fF]|[oO][tT][fF])$"
                        },
                        "family": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "style": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        }
                      },
                      "required": [
                        "assetType",
                        "content",
                        "fileName"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 50
                  }
                },
                "required": [
                  "assets"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "assetKey": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "assetKey",
                          "fileName"
                        ]
                      }
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "assets",
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/v2/project/files/diffs": {
      "post": {
        "operationId": "submitUserEditDiffs",
        "summary": "Submit translation diffs",
        "description": "Overwrite translations with user-provided localized content.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "diffs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "locale": {
                          "type": "string",
                          "minLength": 1
                        },
                        "diff": {
                          "type": "string"
                        },
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "localContent": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "locale",
                        "diff",
                        "versionId",
                        "fileId",
                        "localContent"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "diffs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed user translation edits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filesProcessed": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "entriesReceived": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "filesProcessed",
                    "entriesReceived",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/v2/project/setup/should-generate": {
      "get": {
        "operationId": "shouldGenerateProjectContext",
        "summary": "Check if context generation is needed",
        "deprecated": true,
        "description": "Check whether the Project needs translation context generated. This deprecated endpoint is retained for backward compatibility and is no longer called by current clients.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Whether project context should be generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shouldSetupProject": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "shouldSetupProject"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Context"
        ]
      }
    },
    "/v2/project/setup/generate": {
      "post": {
        "operationId": "generateProjectContext",
        "summary": "Generate translation context",
        "description": "Generate glossaries and translation instructions for the project.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "fileId",
                        "versionId"
                      ]
                    },
                    "minItems": 1
                  },
                  "locales": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "force": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Context generation status",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "completed"
                          ]
                        }
                      },
                      "required": [
                        "status"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "setupJobId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "queued"
                          ]
                        }
                      },
                      "required": [
                        "setupJobId",
                        "status"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Context"
        ]
      }
    },
    "/v2/project/setup/status/{jobId}": {
      "get": {
        "operationId": "getProjectContextGenerationStatus",
        "summary": "Get context generation job status",
        "deprecated": true,
        "description": "Track a context generation job. This deprecated endpoint is retained for backward compatibility; new integrations should use `POST /v2/project/jobs/info`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "jobId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Context generation job status",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "completed"
                          ]
                        }
                      },
                      "required": [
                        "status"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "jobId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "queued",
                            "processing",
                            "failed",
                            "unknown"
                          ]
                        }
                      },
                      "required": [
                        "jobId",
                        "status"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Context"
        ]
      }
    },
    "/v2/project/translations/enqueue": {
      "post": {
        "operationId": "enqueueFileTranslations",
        "summary": "Queue files for translation",
        "description": "Enqueue uploaded source files for background translation. Max 100 files per request. The response shape depends on the requested `gt-api-version`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "fileName": {
                          "type": "string"
                        },
                        "transformFormat": {
                          "type": "string",
                          "enum": [
                            "GTJSON",
                            "MDX",
                            "JSON",
                            "YAML",
                            "MD",
                            "TS",
                            "JS",
                            "HTML",
                            "TXT",
                            "PO",
                            "POT",
                            "TWILIO_CONTENT_JSON",
                            "LOTTIE",
                            "SVG",
                            "XCSTRINGS",
                            "DOT_STRINGS",
                            "DOT_STRINGSDICT",
                            "ANDROID_STRINGS"
                          ]
                        }
                      },
                      "required": [
                        "fileId",
                        "versionId"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "targetLocales": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sourceLocale": {
                    "type": "string"
                  },
                  "force": {
                    "type": "boolean",
                    "default": false
                  },
                  "modelProvider": {
                    "$ref": "#/components/schemas/ModelProvider"
                  },
                  "publish": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enqueued translations. Shape depends on gt-api-version (legacy before 2025-11-03.v1).",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jobData": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "file_translation"
                                ]
                              },
                              "sourceFileId": {
                                "type": "string"
                              },
                              "fileId": {
                                "type": "string"
                              },
                              "versionId": {
                                "type": "string"
                              },
                              "branchId": {
                                "type": "string"
                              },
                              "targetLocale": {
                                "type": "string"
                              },
                              "projectId": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "force": {
                                "type": "boolean"
                              },
                              "outputFileFormat": {
                                "$ref": "#/components/schemas/FileFormat"
                              },
                              "modelProvider": {
                                "$ref": "#/components/schemas/ModelProvider"
                              },
                              "glossaryRetranslate": {
                                "type": "boolean"
                              },
                              "changedGlossaryTerms": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "onComplete": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "google_drive_apply"
                                    ]
                                  },
                                  "userId": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind"
                                ]
                              }
                            },
                            "required": [
                              "sourceFileId",
                              "fileId",
                              "versionId",
                              "branchId",
                              "targetLocale",
                              "projectId",
                              "orgId",
                              "force"
                            ]
                          }
                        },
                        "locales": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "jobData",
                        "locales",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "translations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "locale": {
                                "type": "string"
                              },
                              "metadata": {},
                              "fileId": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "versionId": {
                                "type": "string"
                              },
                              "branchId": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isReady": {
                                "type": "boolean"
                              },
                              "downloadUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "locale",
                              "fileId",
                              "fileName",
                              "versionId",
                              "branchId",
                              "id",
                              "isReady",
                              "downloadUrl"
                            ]
                          }
                        },
                        "data": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "fileName": {
                                "type": "string"
                              },
                              "versionId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "fileName",
                              "versionId"
                            ]
                          }
                        },
                        "locales": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "translations",
                        "data",
                        "locales",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or missing source files",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fileId": {
                                "type": "string"
                              },
                              "versionId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "fileId",
                              "versionId"
                            ]
                          }
                        },
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "error",
                        "missing",
                        "count"
                      ]
                    }
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Translation"
        ]
      }
    },
    "/v2/project/files/publish": {
      "post": {
        "operationId": "publishFiles",
        "summary": "Publish or unpublish files",
        "description": "Publish or unpublish translated files to the CDN. Requires CDN to be enabled.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key)."
            },
            "required": false,
            "description": "Target project ID. Required when authenticating with an organization API key; ignored with project-scoped API keys (the project is resolved from the key).",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "publish": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "fileId",
                        "versionId",
                        "publish"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File publish results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "locale": {
[...]
