{
  "openapi": "3.1.0",
  "info": {
    "title": "General Translation API",
    "version": "2026-03-06.v1",
    "description": "Translate content and manage projects with the General Translation API at `https://api.gtx.dev`.\n\nAuthenticate with `Authorization: Bearer <api-key>`. Each endpoint lists its required permissions. Project keys (`gtx-api-`) access one project; Organization keys (`gtx-org-`) access projects in one Organization.\n\nFor project-scoped requests, use the project ID in the path. If you also send `gt-project-id`, it must match. Without a project ID in the path, project keys use their own project; Organization keys require `gt-project-id`. Discovery endpoints need no project ID. Organization-scoped requests use the Organization ID in the path. You must have access to the selected project or Organization.",
    "contact": {
      "name": "General Translation Support",
      "email": "support@generaltranslation.com",
      "url": "https://generaltranslation.com"
    }
  },
  "servers": [
    {
      "url": "https://api.gtx.dev",
      "description": "General Translation API"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Upload, download, publish, move, and inspect project files."
    },
    {
      "name": "Context",
      "description": "Generate translation context such as glossaries and instructions."
    },
    {
      "name": "Context Management",
      "description": "Manage context groups, glossary terms, custom prompts, and project assignments."
    },
    {
      "name": "Translation",
      "description": "Translate content, queue files for translation, and read translation job status."
    },
    {
      "name": "Project",
      "description": "Create and manage projects, assets, branches, and file version tags."
    },
    {
      "name": "Integrations",
      "description": "Internal Figma and Google Drive plugin operations."
    },
    {
      "name": "CLI Wizard",
      "description": "Create and manage internal CLI wizard sessions."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Project or organization API key."
      },
      "UserBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.1 user access token.",
        "x-internal": true
      },
      "GoogleIdentityToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Google identity token for the Workspace plugin."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "ApiVersion": {
        "type": "string",
        "enum": [
          "2025-01-01.v0",
          "2025-11-03.v1",
          "2026-02-18.v1",
          "2026-03-06.v1"
        ],
        "description": "API contract version. Defaults to the oldest supported version."
      },
      "FileFormat": {
        "type": "string",
        "enum": [
          "GTJSON",
          "MDX",
          "JSON",
          "YAML",
          "MD",
          "TS",
          "JS",
          "HTML",
          "TXT",
          "PO",
          "POT",
          "TWILIO_CONTENT_JSON",
          "LOTTIE",
          "SVG",
          "XCSTRINGS",
          "DOT_STRINGS",
          "DOT_STRINGSDICT",
          "ANDROID_STRINGS",
          "SRT",
          "RESX"
        ]
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        }
      },
      "JsonValue": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ]
      },
      "DataFormat": {
        "type": "string",
        "enum": [
          "JSX",
          "ICU",
          "I18NEXT",
          "STRING"
        ]
      },
      "ModelProvider": {
        "type": "string",
        "enum": [
          "ANTHROPIC",
          "OPENAI",
          "XAI",
          "GOOGLE",
          "HYPERCLOVA"
        ]
      },
      "RuntimeTranslationResponse": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "translation": {
                  "$ref": "#/components/schemas/JsonValue"
                },
                "dataFormat": {
                  "$ref": "#/components/schemas/DataFormat"
                },
                "locale": {
                  "type": "string"
                }
              },
              "required": [
                "success",
                "dataFormat",
                "locale"
              ]
            },
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    false
                  ]
                },
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "number"
                }
              },
              "required": [
                "success",
                "error",
                "code"
              ]
            }
          ]
        }
      },
      "RuntimeTranslationRequest": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "source": {},
                "metadata": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "context": {
                      "type": "string"
                    },
                    "maxChars": {
                      "type": "number"
                    },
                    "dataFormat": {
                      "$ref": "#/components/schemas/DataFormat"
                    },
                    "fileFormat": {
                      "$ref": "#/components/schemas/RuntimeFileFormat"
                    },
                    "actionType": {
                      "type": "string",
                      "enum": [
                        "fast",
                        "standard"
                      ],
                      "default": "fast"
                    },
                    "sourceCode": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string"
                            },
                            "target": {
                              "type": "string"
                            },
                            "after": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "before",
                            "target",
                            "after"
                          ]
                        }
                      }
                    }
                  },
                  "default": {
                    "dataFormat": "STRING",
                    "actionType": "fast"
                  }
                }
              }
            }
          },
          "targetLocale": {
            "type": "string",
            "minLength": 1
          },
          "sourceLocale": {
            "type": "string",
            "minLength": 1
          },
          "metadata": {
            "type": "object",
            "properties": {
              "modelProvider": {
                "$ref": "#/components/schemas/ModelProvider"
              }
            }
          }
        },
        "required": [
          "requests",
          "targetLocale",
          "sourceLocale",
          "metadata"
        ]
      },
      "RuntimeFileFormat": {
        "type": "string",
        "enum": [
          "MD",
          "MDX"
        ]
      },
      "ProjectApiKeyPermission": {
        "type": "string",
        "enum": [
          "project:write",
          "project:context:read",
          "project:context:write",
          "project:files:read",
          "project:files:write",
          "project:translations:generate",
          "project:translations:enqueue"
        ]
      },
      "ContextGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CreateCliWizardSessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          }
        },
        "required": [
          "sessionId"
        ]
      },
      "CreateCliWizardSessionRequest": {
        "type": "object",
        "properties": {
          "keyType": {
            "$ref": "#/components/schemas/CliKeyType"
          }
        }
      },
      "CliKeyType": {
        "type": "string",
        "enum": [
          "development",
          "production",
          "all"
        ],
        "default": "production",
        "deprecated": true,
        "description": "Deprecated: the wizard creates one project API key and returns it in each requested slot."
      },
      "CliWizardSessionReadyResponse": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "apiKeys": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "type": {
                      "$ref": "#/components/schemas/ApiKeyType"
                    }
                  },
                  "required": [
                    "key",
                    "type"
                  ]
                }
              },
              "projectId": {
                "type": "string"
              }
            },
            "required": [
              "apiKeys",
              "projectId"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "projectId": {
                "type": "string"
              }
            },
            "required": [
              "apiKey",
              "projectId"
            ]
          }
        ]
      },
      "ApiKeyType": {
        "type": "string",
        "enum": [
          "development",
          "production"
        ]
      },
      "CliWizardSessionWaitingResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "DeleteCliWizardSessionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/integrations/workspace-plugin/info": {
      "post": {
        "operationId": "workspacePluginInfo",
        "x-internal": true,
        "summary": "Workspace plugin info",
        "description": "Run the Google Drive Workspace plugin info command.",
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "GoogleIdentityToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "File ID assigned by Google Drive, found in the Google Docs or Slides URL after /d/. This is not a GT database file ID. May identify a source file or a GT-managed translated copy. Supply hostApp with fileId for file-specific context; omit both to list connected projects."
                  },
                  "hostApp": {
                    "type": "string",
                    "enum": [
                      "DOCS",
                      "SLIDES"
                    ],
                    "description": "Google editor for the file: DOCS for Google Docs or SLIDES for Google Slides. Supply fileId with hostApp for file-specific context."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linked": {
                      "type": "boolean"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "email"
                      ]
                    },
                    "supportedLocales": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "name",
                          "emoji"
                        ]
                      }
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "sourceLocale": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "name",
                              "emoji"
                            ]
                          },
                          "currentLocales": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "emoji": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "code",
                                "name",
                                "emoji"
                              ]
                            }
                          },
                          "localeWhitelist": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "emoji": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "code",
                                "name",
                                "emoji"
                              ]
                            }
                          },
                          "integrationConnected": {
                            "type": "boolean"
                          },
                          "integrationId": {
                            "type": "string"
                          },
                          "linkedFile": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "sourceLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              }
                            },
                            "required": [
                              "sourceLocale"
                            ]
                          },
                          "translatedCopy": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "sourceName": {
                                "type": "string"
                              },
                              "sourceResourceId": {
                                "type": "string"
                              },
                              "sourceLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              },
                              "targetLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              }
                            },
                            "required": [
                              "sourceName",
                              "sourceResourceId",
                              "sourceLocale",
                              "targetLocale"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "orgName",
                          "sourceLocale",
                          "currentLocales",
                          "localeWhitelist",
                          "integrationConnected",
                          "integrationId",
                          "linkedFile",
                          "translatedCopy"
                        ]
                      }
                    }
                  },
                  "required": [
                    "linked",
                    "user",
                    "supportedLocales",
                    "projects"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/workspace-plugin/translate": {
      "post": {
        "operationId": "workspacePluginTranslate",
        "x-internal": true,
        "summary": "Workspace plugin translate",
        "description": "Run the Google Drive Workspace plugin translate command.",
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "GoogleIdentityToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "GT project ID returned by get_google_drive_context. The project must have a Google Drive integration connected in the GT dashboard."
                  },
                  "fileId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "File ID assigned by Google Drive, found in the Google Docs or Slides URL after /d/. This is not a GT database file ID. May identify a source file or a GT-managed translated copy."
                  },
                  "hostApp": {
                    "type": "string",
                    "enum": [
                      "DOCS",
                      "SLIDES"
                    ],
                    "description": "Google editor for the file: DOCS for Google Docs or SLIDES for Google Slides."
                  },
                  "targetLocales": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "maxItems": 100,
                    "description": "One to 100 supported target locale codes, such as fr or es-MX. Must respect the project locale whitelist. For a GT-managed translated copy, only that copy’s target locale is used."
                  },
                  "sourceLocale": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Optional source locale code, such as en. Defaults to the file’s stored source locale, then the project default. Ignored for a GT-managed translated copy, whose original source locale is used."
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Whether to force retranslation of existing translations. Defaults to false. Retranslation may incur additional translation charges."
                  }
                },
                "required": [
                  "projectId",
                  "fileId",
                  "hostApp",
                  "targetLocales"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    },
                    "sourceLocale": {
                      "type": "string"
                    },
                    "targetLocales": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "enqueued": {
                      "type": "number"
                    },
                    "failed": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "accepted",
                    "sourceLocale",
                    "targetLocales",
                    "enqueued",
                    "failed",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/workspace-plugin/status": {
      "post": {
        "operationId": "workspacePluginStatus",
        "x-internal": true,
        "summary": "Workspace plugin status",
        "description": "Run the Google Drive Workspace plugin status command.",
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "GoogleIdentityToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "GT project ID returned by get_google_drive_context. The project must have a Google Drive integration connected in the GT dashboard."
                  },
                  "fileId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "File ID assigned by Google Drive, found in the Google Docs or Slides URL after /d/. This is not a GT database file ID. May identify a source file or a GT-managed translated copy."
                  },
                  "hostApp": {
                    "type": "string",
                    "enum": [
                      "DOCS",
                      "SLIDES"
                    ],
                    "description": "Google editor for the file: DOCS for Google Docs or SLIDES for Google Slides."
                  }
                },
                "required": [
                  "projectId",
                  "fileId",
                  "hostApp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locales": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "targetLocale": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "name",
                              "emoji"
                            ]
                          },
                          "translationProgress": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "layoutProgress": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "done": {
                            "type": "boolean"
                          },
                          "targetCopy": {
                            "type": "object",
                            "properties": {
                              "fileId": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "fileId",
                              "url"
                            ]
                          }
                        },
                        "required": [
                          "targetLocale",
                          "locale",
                          "translationProgress",
                          "layoutProgress",
                          "done"
                        ]
                      }
                    }
                  },
                  "required": [
                    "locales"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/plugins/{provider}/info": {
      "post": {
        "operationId": "pluginInfo",
        "x-internal": true,
        "summary": "Plugin info",
        "description": "Run the info command for a design-tool plugin.",
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "figma",
                "after-effects"
              ]
            },
            "required": true,
            "name": "provider",
            "in": "path"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      }
                    },
                    "required": [
                      "fileName"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "projectStamp": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      }
                    },
                    "required": [
                      "projectStamp"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plugin command result",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "project": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "integrationId": {
                              "type": "string"
                            },
                            "sourceLocale": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "emoji": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "code",
                                "name",
                                "emoji"
                              ]
                            },
                            "currentLocales": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              }
                            },
                            "localeWhitelist": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              }
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "integrationId",
                            "sourceLocale",
                            "currentLocales",
                            "localeWhitelist"
                          ]
                        },
                        "supportedLocales": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "name",
                              "emoji"
                            ]
                          }
                        },
                        "linked": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "pageId": {
                                "type": "string"
                              },
                              "pageName": {
                                "type": "string"
                              },
                              "fileId": {
                                "type": "string"
                              },
                              "versionId": {
                                "type": "string"
                              },
                              "sourceLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              },
                              "locales": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "emoji": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "name",
                                    "emoji"
                                  ]
                                }
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "skippedCount": {
                                "type": "number"
                              },
                              "skipped": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 255
                                    },
                                    "structuralPath": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 1024
                                    },
                                    "displayPath": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "maxItems": 64
                                    },
                                    "reason": {
                                      "type": "string",
                                      "enum": [
                                        "not_text_node",
                                        "empty_text",
                                        "hidden_layer",
                                        "missing_characters"
                                      ]
                                    },
                                    "details": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "boolean"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "structuralPath",
                                    "displayPath",
                                    "reason"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "pageId",
                              "pageName",
                              "fileId",
                              "versionId",
                              "sourceLocale",
                              "locales",
                              "updatedAt",
                              "skippedCount",
                              "skipped"
                            ]
                          }
                        }
                      },
                      "required": [
                        "project",
                        "supportedLocales",
                        "linked"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "project": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "integrationId": {
                              "type": "string"
                            },
                            "sourceLocale": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "emoji": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "code",
                                "name",
                                "emoji"
                              ]
                            },
                            "currentLocales": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              }
                            },
                            "localeWhitelist": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              }
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "integrationId",
                            "sourceLocale",
                            "currentLocales",
                            "localeWhitelist"
                          ]
                        },
                        "supportedLocales": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "name",
                              "emoji"
                            ]
                          }
                        },
                        "linked": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "compId": {
                                "type": "string"
                              },
                              "compName": {
                                "type": "string"
                              },
                              "fileId": {
                                "type": "string"
                              },
                              "versionId": {
                                "type": "string"
                              },
                              "sourceLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "name",
                                  "emoji"
                                ]
                              },
                              "locales": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "emoji": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "name",
                                    "emoji"
                                  ]
                                }
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "skippedCount": {
                                "type": "number"
                              },
                              "skipped": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 255
                                    },
                                    "structuralPath": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 1024
                                    },
                                    "displayPath": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "maxItems": 64
                                    },
                                    "reason": {
                                      "type": "string",
                                      "enum": [
                                        "not_text_layer",
                                        "empty_text",
                                        "expression_driven",
                                        "essential_graphics"
                                      ]
                                    },
                                    "details": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "boolean"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "structuralPath",
                                    "displayPath",
                                    "reason"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "compId",
                              "compName",
                              "fileId",
                              "versionId",
                              "sourceLocale",
                              "locales",
                              "updatedAt",
                              "skippedCount",
                              "skipped"
                            ]
                          }
                        }
                      },
                      "required": [
                        "project",
                        "supportedLocales",
                        "linked"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "423": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/plugins/{provider}/layout": {
      "post": {
        "operationId": "pluginLayout",
        "x-internal": true,
        "summary": "Plugin layout",
        "description": "Run the layout command for a design-tool plugin.",
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "figma",
                "after-effects"
              ]
            },
            "required": true,
            "name": "provider",
            "in": "path"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "pageId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "locale": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 16
                      },
                      "frames": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "frameId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "frameName": {
                              "type": "string",
                              "maxLength": 255
                            },
                            "before": {
                              "type": "object",
                              "properties": {
                                "mediaType": {
                                  "type": "string",
                                  "enum": [
                                    "image/png",
                                    "image/jpeg",
                                    "image/webp"
                                  ]
                                },
                                "base64": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 6000000
                                }
                              },
                              "required": [
                                "mediaType",
                                "base64"
                              ],
                              "additionalProperties": false
                            },
                            "after": {
                              "type": "object",
                              "properties": {
                                "mediaType": {
                                  "type": "string",
                                  "enum": [
                                    "image/png",
                                    "image/jpeg",
                                    "image/webp"
                                  ]
                                },
                                "base64": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 6000000
                                }
                              },
                              "required": [
                                "mediaType",
                                "base64"
                              ],
                              "additionalProperties": false
                            },
                            "nodes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "nodeId": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255
                                  },
                                  "rect": {
                                    "type": "object",
                                    "properties": {
                                      "x": {
                                        "type": "number"
                                      },
                                      "y": {
                                        "type": "number"
                                      },
                                      "width": {
                                        "type": "number"
                                      },
                                      "height": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "x",
                                      "y",
                                      "width",
                                      "height"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "text": {
                                    "type": "string",
                                    "maxLength": 4000
                                  },
                                  "measuredOverflow": {
                                    "type": "boolean"
                                  },
                                  "measuredCollision": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "nodeId",
                                  "rect",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              "maxItems": 200
                            }
                          },
                          "required": [
                            "frameId",
                            "before",
                            "after",
                            "nodes"
                          ],
                          "additionalProperties": false
                        },
                        "minItems": 1,
                        "maxItems": 4
                      }
                    },
                    "required": [
                      "fileName",
                      "pageId",
                      "locale",
                      "frames"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": {}
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plugin command result",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "frames": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "frameId": {
                                "type": "string"
                              },
                              "remedies": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "nodeId": {
                                      "type": "string"
                                    },
                                    "rephrase": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "nodeId",
                                    "rephrase"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "frameId",
                              "remedies"
                            ]
                          }
                        }
                      },
                      "required": [
                        "frames"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "423": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/plugins/{provider}/sync": {
      "post": {
        "operationId": "pluginSync",
        "x-internal": true,
        "summary": "Plugin sync",
        "description": "Run the sync command for a design-tool plugin.",
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "figma",
                "after-effects"
              ]
            },
            "required": true,
            "name": "provider",
            "in": "path"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "pageId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "pageName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "sourceLocale": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 16
                      },
                      "units": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "structuralPath": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 1024
                            },
                            "value": {
                              "type": "string"
                            },
                            "displayPath": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "maxItems": 64
                            },
                            "layout": {
                              "type": "object",
                              "properties": {
                                "boxId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255
                                },
                                "frameId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255
                                },
                                "rect": {
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "number"
                                    },
                                    "y": {
                                      "type": "number"
                                    },
                                    "width": {
                                      "type": "number"
                                    },
                                    "height": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "x",
                                    "y",
                                    "width",
                                    "height"
                                  ],
                                  "additionalProperties": false
                                },
                                "render": {
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "number"
                                    },
                                    "y": {
                                      "type": "number"
                                    },
                                    "width": {
                                      "type": "number"
                                    },
                                    "height": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "x",
                                    "y",
                                    "width",
                                    "height"
                                  ],
                                  "additionalProperties": false
                                },
                                "room": {
                                  "type": "object",
                                  "properties": {
                                    "left": {
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "right": {
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "up": {
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "down": {
                                      "type": "number",
                                      "minimum": 0
                                    }
                                  },
                                  "required": [
                                    "left",
                                    "right",
                                    "up",
                                    "down"
                                  ],
                                  "additionalProperties": false
                                },
                                "autoResize": {
                                  "type": "string",
                                  "enum": [
                                    "NONE",
                                    "HEIGHT",
                                    "WIDTH_AND_HEIGHT",
                                    "TRUNCATE"
                                  ]
                                },
                                "textAlignHorizontal": {
                                  "type": "string",
                                  "enum": [
                                    "LEFT",
                                    "CENTER",
                                    "RIGHT",
                                    "JUSTIFIED"
                                  ]
                                },
                                "baseFontPt": {
[...]
