{
  "openapi": "3.1.0",
  "info": {
    "title": "General Translation API",
    "version": "2026-03-06.v1",
    "description": "The public General Translation API. Use it to upload source content and translated files, download translations, queue and translate content, create projects, manage branches and tags, and read project and job status.\n\nMost endpoints operate on a single project. All endpoints live under `https://api.gtx.dev`.\n\nAuthenticate every request with an API key as a bearer token in the standard `Authorization: Bearer <key>` header. Project keys (`gtx-api-`, `gtx-dev-`) are bound to one project. Organization keys (`gtx-org-`) work across projects but must include the target project in the `gt-project-id` header for project-scoped routes. Organization-scoped routes, such as `POST /v2/orgs/{orgId}/projects`, require the target organization in the `orgId` path parameter. The credential must have access to that organization.",
    "contact": {
      "name": "General Translation Support",
      "email": "support@generaltranslation.com",
      "url": "https://generaltranslation.com"
    }
  },
  "servers": [
    {
      "url": "https://api.gtx.dev",
      "description": "General Translation API"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Upload, download, publish, move, and inspect project files."
    },
    {
      "name": "Context",
      "description": "Generate translation context such as glossaries and instructions."
    },
    {
      "name": "Translation",
      "description": "Translate content, queue files for translation, and read translation job status."
    },
    {
      "name": "Project",
      "description": "Create and manage projects, assets, branches, and file version tags."
    },
    {
      "name": "Integrations",
      "description": "Internal Figma and Google Drive plugin operations."
    },
    {
      "name": "CLI Wizard",
      "description": "Create and manage internal CLI wizard sessions."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Project or organization API key."
      },
      "UserBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.1 user access token."
      },
      "GoogleIdentityToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Google identity token for the Workspace plugin."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": ["error"]
      },
      "FileFormat": {
        "type": "string",
        "enum": [
          "GTJSON",
          "MDX",
          "JSON",
          "YAML",
          "MD",
          "TS",
          "JS",
          "HTML",
          "TXT",
          "PO",
          "POT",
          "TWILIO_CONTENT_JSON",
          "LOTTIE",
          "SVG",
          "XCSTRINGS",
          "DOT_STRINGS",
          "DOT_STRINGSDICT",
          "ANDROID_STRINGS"
        ]
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"]
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        }
      },
      "JsonValue": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ]
      },
      "ModelProvider": {
        "type": "string",
        "enum": ["ANTHROPIC", "OPENAI", "XAI", "GOOGLE"]
      },
      "RuntimeTranslationResponse": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [true]
                },
                "translation": {
                  "$ref": "#/components/schemas/JsonValue"
                },
                "dataFormat": {
                  "type": "string",
                  "enum": ["JSX", "ICU", "I18NEXT", "STRING"]
                },
                "locale": {
                  "type": "string"
                }
              },
              "required": ["success", "dataFormat", "locale"]
            },
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [false]
                },
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "number"
                }
              },
              "required": ["success", "error", "code"]
            }
          ]
        }
      },
      "RuntimeTranslationRequest": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "source": {},
                "metadata": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "context": {
                      "type": "string"
                    },
                    "maxChars": {
                      "type": "number"
                    },
                    "dataFormat": {
                      "type": "string",
                      "enum": ["JSX", "ICU", "I18NEXT", "STRING"],
                      "default": "STRING"
                    },
                    "actionType": {
                      "type": "string",
                      "enum": ["fast", "standard"],
                      "default": "fast"
                    },
                    "sourceCode": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string"
                            },
                            "target": {
                              "type": "string"
                            },
                            "after": {
                              "type": "string"
                            }
                          },
                          "required": ["before", "target", "after"]
                        }
                      }
                    }
                  },
                  "default": {
                    "dataFormat": "STRING",
                    "actionType": "fast"
                  }
                }
              }
            }
          },
          "targetLocale": {
            "type": "string",
            "minLength": 1
          },
          "sourceLocale": {
            "type": "string",
            "minLength": 1
          },
          "metadata": {
            "type": "object",
            "properties": {
              "modelProvider": {
                "$ref": "#/components/schemas/ModelProvider"
              }
            }
          }
        },
        "required": ["requests", "targetLocale", "sourceLocale", "metadata"]
      },
      "CreateCliWizardSessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          }
        },
        "required": ["sessionId"]
      },
      "CreateCliWizardSessionRequest": {
        "type": "object",
        "properties": {
          "keyType": {
            "type": "string",
            "enum": ["development", "production", "all"],
            "default": "production"
          }
        }
      },
      "CliWizardSessionReadyResponse": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "apiKeys": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["development", "production"]
                    }
                  },
                  "required": ["key", "type"]
                }
              },
              "projectId": {
                "type": "string"
              }
            },
            "required": ["apiKeys", "projectId"]
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "projectId": {
                "type": "string"
              }
            },
            "required": ["apiKey", "projectId"]
          }
        ]
      },
      "CliWizardSessionWaitingResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": ["message"]
      },
      "DeleteCliWizardSessionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": ["message"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/integrations/workspace-plugin/info": {
      "post": {
        "operationId": "workspacePluginInfo",
        "x-internal": true,
        "summary": "Workspace plugin info",
        "description": "Run the Google Drive Workspace plugin info command.",
        "tags": ["Integrations"],
        "security": [
          {
            "GoogleIdentityToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "hostApp": {
                    "type": "string",
                    "enum": ["DOCS", "SLIDES"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linked": {
                      "type": "boolean"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": ["string", "null"]
                        }
                      },
                      "required": ["email"]
                    },
                    "supportedLocales": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          }
                        },
                        "required": ["code", "name", "emoji"]
                      }
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": ["string", "null"]
                          },
                          "sourceLocale": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": ["code", "name", "emoji"]
                          },
                          "currentLocales": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "emoji": {
                                  "type": "string"
                                }
                              },
                              "required": ["code", "name", "emoji"]
                            }
                          },
                          "localeWhitelist": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "emoji": {
                                  "type": "string"
                                }
                              },
                              "required": ["code", "name", "emoji"]
                            }
                          },
                          "integrationConnected": {
                            "type": "boolean"
                          },
                          "integrationId": {
                            "type": "string"
                          },
                          "linkedFile": {
                            "type": ["object", "null"],
                            "properties": {
                              "sourceLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": ["code", "name", "emoji"]
                              }
                            },
                            "required": ["sourceLocale"]
                          },
                          "translatedCopy": {
                            "type": ["object", "null"],
                            "properties": {
                              "sourceName": {
                                "type": "string"
                              },
                              "sourceResourceId": {
                                "type": "string"
                              },
                              "sourceLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": ["code", "name", "emoji"]
                              },
                              "targetLocale": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                },
                                "required": ["code", "name", "emoji"]
                              }
                            },
                            "required": [
                              "sourceName",
                              "sourceResourceId",
                              "sourceLocale",
                              "targetLocale"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "orgName",
                          "sourceLocale",
                          "currentLocales",
                          "localeWhitelist",
                          "integrationConnected",
                          "integrationId",
                          "linkedFile",
                          "translatedCopy"
                        ]
                      }
                    }
                  },
                  "required": ["linked", "user", "supportedLocales", "projects"]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "502": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/workspace-plugin/translate": {
      "post": {
        "operationId": "workspacePluginTranslate",
        "x-internal": true,
        "summary": "Workspace plugin translate",
        "description": "Run the Google Drive Workspace plugin translate command.",
        "tags": ["Integrations"],
        "security": [
          {
            "GoogleIdentityToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fileId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "hostApp": {
                    "type": "string",
                    "enum": ["DOCS", "SLIDES"]
                  },
                  "targetLocales": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "sourceLocale": {
                    "type": "string",
                    "minLength": 1
                  },
                  "force": {
                    "type": "boolean"
                  }
                },
                "required": ["projectId", "fileId", "hostApp", "targetLocales"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    },
                    "sourceLocale": {
                      "type": "string"
                    },
                    "targetLocales": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "enqueued": {
                      "type": "number"
                    },
                    "failed": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "accepted",
                    "sourceLocale",
                    "targetLocales",
                    "enqueued",
                    "failed",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "502": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/workspace-plugin/status": {
      "post": {
        "operationId": "workspacePluginStatus",
        "x-internal": true,
        "summary": "Workspace plugin status",
        "description": "Run the Google Drive Workspace plugin status command.",
        "tags": ["Integrations"],
        "security": [
          {
            "GoogleIdentityToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fileId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "hostApp": {
                    "type": "string",
                    "enum": ["DOCS", "SLIDES"]
                  }
                },
                "required": ["projectId", "fileId", "hostApp"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locales": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "targetLocale": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": ["code", "name", "emoji"]
                          },
                          "translationProgress": {
                            "type": ["number", "null"]
                          },
                          "layoutProgress": {
                            "type": ["number", "null"]
                          },
                          "done": {
                            "type": "boolean"
                          },
                          "targetCopy": {
                            "type": "object",
                            "properties": {
                              "fileId": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": ["fileId", "url"]
                          }
                        },
                        "required": [
                          "targetLocale",
                          "locale",
                          "translationProgress",
                          "layoutProgress",
                          "done"
                        ]
                      }
                    }
                  },
                  "required": ["locales"]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "502": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "linked": {
                      "type": "boolean"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/figma-plugin/info": {
      "post": {
        "operationId": "figmaPluginInfo",
        "x-internal": true,
        "summary": "Figma plugin info",
        "description": "Run the Figma plugin info command.",
        "tags": ["Integrations"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "figmaFileName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": ["figmaFileName"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Figma plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "integrationId": {
                          "type": "string"
                        },
                        "sourceLocale": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "emoji": {
                              "type": "string"
                            }
                          },
                          "required": ["code", "name", "emoji"]
                        },
                        "currentLocales": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": ["code", "name", "emoji"]
                          }
                        },
                        "localeWhitelist": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": ["code", "name", "emoji"]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "integrationId",
                        "sourceLocale",
                        "currentLocales",
                        "localeWhitelist"
                      ]
                    },
                    "supportedLocales": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          }
                        },
                        "required": ["code", "name", "emoji"]
                      }
                    },
                    "linkedPages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pageName": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "sourceLocale": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": ["code", "name", "emoji"]
                          },
                          "locales": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "emoji": {
                                  "type": "string"
                                }
                              },
                              "required": ["code", "name", "emoji"]
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "skippedCount": {
                            "type": "number"
                          },
                          "skipped": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "nodeId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255
                                },
                                "displayPath": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "maxItems": 64
                                },
                                "reason": {
                                  "type": "string",
                                  "enum": [
                                    "not_text_node",
                                    "empty_text",
                                    "hidden_layer",
                                    "missing_characters",
                                    "in_component_master"
                                  ]
                                },
                                "details": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "boolean"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "pathKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "nodeId",
                                "displayPath",
                                "reason",
                                "pathKey"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "pageName",
                          "fileId",
                          "versionId",
                          "sourceLocale",
                          "locales",
                          "updatedAt",
                          "skippedCount",
                          "skipped"
                        ]
                      }
                    }
                  },
                  "required": ["project", "supportedLocales", "linkedPages"]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "423": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/figma-plugin/sync": {
      "post": {
        "operationId": "figmaPluginSync",
        "x-internal": true,
        "summary": "Figma plugin sync",
        "description": "Run the Figma plugin sync command.",
        "tags": ["Integrations"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "figmaFileName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "pageName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "sourceLocale": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 16
                  },
                  "units": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "nodeId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "structuralPath": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 1024
                        },
                        "value": {
                          "type": "string"
                        },
                        "displayPath": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "maxItems": 64
                        },
                        "layout": {
                          "type": "object",
                          "properties": {
                            "boxId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "frameId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "rect": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                },
                                "width": {
                                  "type": "number"
                                },
                                "height": {
                                  "type": "number"
                                }
                              },
                              "required": ["x", "y", "width", "height"]
                            },
                            "autoResize": {
                              "type": "string",
                              "enum": [
                                "NONE",
                                "HEIGHT",
                                "WIDTH_AND_HEIGHT",
                                "TRUNCATE"
                              ]
                            },
                            "baseFontPt": {
                              "type": "number"
                            },
                            "equivClass": {
                              "type": "string",
                              "maxLength": 255
                            },
                            "sizeRank": {
                              "type": "number"
                            }
                          },
                          "required": ["boxId"],
                          "additionalProperties": false
                        },
                        "styleRuns": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "start": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "end": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "fontName": {
                                "type": "object",
                                "properties": {
                                  "family": {
                                    "type": "string"
                                  },
                                  "style": {
                                    "type": "string"
                                  }
                                },
                                "required": ["family", "style"],
                                "additionalProperties": false
                              },
                              "fontSize": {
                                "type": "number"
                              },
                              "textDecoration": {
                                "type": "string"
                              },
                              "textCase": {
                                "type": "string"
                              },
                              "letterSpacing": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "required": ["value", "unit"],
                                "additionalProperties": false
                              },
                              "lineHeight": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "required": ["unit"],
                                "additionalProperties": false
                              },
                              "fills": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": {}
                                }
                              },
                              "hyperlink": {
                                "type": ["object", "null"],
                                "additionalProperties": {}
                              }
                            },
                            "required": ["start", "end"],
                            "additionalProperties": false
                          },
                          "maxItems": 512
                        },
                        "instanceTextOrigin": {
                          "type": "string",
                          "enum": ["inherited", "overridden"]
                        }
                      },
                      "required": [
                        "nodeId",
                        "structuralPath",
                        "value",
                        "displayPath"
                      ],
                      "additionalProperties": false
                    },
                    "maxItems": 20000
                  },
                  "skipped": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "nodeId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "structuralPath": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 1024
                        },
                        "displayPath": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "maxItems": 64
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "not_text_node",
                            "empty_text",
                            "hidden_layer",
                            "missing_characters",
                            "in_component_master"
                          ]
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        }
                      },
                      "required": [
                        "nodeId",
                        "structuralPath",
                        "displayPath",
                        "reason"
                      ],
                      "additionalProperties": false
                    },
                    "maxItems": 20000
                  },
                  "allPageNames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    },
                    "maxItems": 500
                  }
                },
                "required": ["figmaFileName", "pageName", "units"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Figma plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "sourceLocale": {
                      "type": "string"
                    },
                    "unitCount": {
                      "type": "number"
                    },
                    "skippedCount": {
                      "type": "number"
                    },
                    "movedFrom": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "fileId",
                    "versionId",
                    "sourceLocale",
                    "unitCount",
                    "skippedCount"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "423": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/figma-plugin/import-translations": {
      "post": {
        "operationId": "figmaPluginImportTranslations",
        "x-internal": true,
        "summary": "Figma plugin import-translations",
        "description": "Run the Figma plugin import-translations command.",
        "tags": ["Integrations"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "figmaFileName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "pageName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "locale": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 16
                  },
                  "versionId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "translations": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "figmaFileName",
                  "pageName",
                  "locale",
                  "versionId",
                  "translations"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Figma plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "importedCount": {
                      "type": "number"
                    },
                    "unmatchedCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "saved",
                    "versionId",
                    "importedCount",
                    "unmatchedCount"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "423": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/figma-plugin/enqueue": {
      "post": {
        "operationId": "figmaPluginEnqueue",
        "x-internal": true,
        "summary": "Figma plugin enqueue",
        "description": "Run the Figma plugin enqueue command.",
        "tags": ["Integrations"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "figmaFileName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "pageName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "targetLocales": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 16
                    },
                    "minItems": 1,
                    "maxItems": 64
                  },
                  "sourceLocale": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 16
                  },
                  "force": {
                    "type": "boolean"
                  }
                },
                "required": ["figmaFileName", "pageName", "targetLocales"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Figma plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    },
                    "sourceLocale": {
                      "type": "string"
                    },
                    "targetLocales": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "versionId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "accepted",
                    "sourceLocale",
                    "targetLocales",
                    "versionId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "423": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/figma-plugin/status": {
      "post": {
        "operationId": "figmaPluginStatus",
        "x-internal": true,
        "summary": "Figma plugin status",
        "description": "Run the Figma plugin status command.",
        "tags": ["Integrations"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "figmaFileName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "pageName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": ["figmaFileName", "pageName"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Figma plugin result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string"
                    },
                    "locales": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "locale": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "emoji": {
                                "type": "string"
                              }
                            },
                            "required": ["code", "name", "emoji"]
                          },
                          "translationProgress": {
                            "type": ["number", "null"]
                          },
                          "done": {
                            "type": "boolean"
                          }
                        },
                        "required": ["locale", "translationProgress", "done"]
                      }
                    }
                  },
                  "required": ["versionId", "locales"]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "423": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/figma-plugin/download": {
      "post": {
        "operationId": "figmaPluginDownload",
        "x-internal": true,
        "summary": "Figma plugin download",
        "description": "Run the Figma plugin download command.",
        "tags": ["Integrations"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "UserBearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "2025-01-01.v0",
                "2025-11-03.v1",
                "2026-02-18.v1",
                "2026-03-06.v1"
              ],
              "description": "API contract version. Defaults to the oldest supported version."
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
[...]
