name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: write
  pull-requests: write
  packages: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  CI: true
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment:
      name: 'release'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip1

      - name: Install Dependencies
        # not frozen since we are using workspaces & package versions will change
        run: pnpm install --no-frozen-lockfile

      - name: Build packages
        run: pnpm run build:release
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
          commit: '[ci] release'
          title: '[ci] release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if gtx-cli was published
        id: check-gtx-cli
        if: steps.changesets.outputs.published == 'true'
        run: |
          published_packages='${{ steps.changesets.outputs.publishedPackages }}'
          
          if echo "$published_packages" | grep -q '"name": *"gtx-cli"'; then
            echo "should_release_bin=true" >> $GITHUB_OUTPUT
          else
            echo "should_release_bin=false" >> $GITHUB_OUTPUT
          fi

      - name: Release gtx-cli binary
        if: steps.check-gtx-cli.outputs.should_release_bin == 'true'
        run: pnpm run release:gtx-cli-bin
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
